@font-face{
font-family:"DIN Next W01_n4";
src:url("../../fonts/geodin/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot")
}
@font-face{
font-family:"DIN Next W01";
src:url("../../fonts/geodin/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
src:url("../../fonts/geodin/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"),url("../../fonts/geodin/de1216be-00c2-43c0-9c45-3e7f925eb519.woff2") format("woff2"),url("../../fonts/geodin/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"),url("../../fonts/geodin/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"),url("../../fonts/geodin/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"DIN Next W01_i4";
src:url("../../fonts/geodin/3ab2ca1d-35c8-4471-9c57-04cb66b9cffa.eot?#iefix") format("eot")
}
@font-face{
font-family:"DIN Next W01";
src:url("../../fonts/geodin/3ab2ca1d-35c8-4471-9c57-04cb66b9cffa.eot?#iefix");
src:url("../../fonts/geodin/3ab2ca1d-35c8-4471-9c57-04cb66b9cffa.eot?#iefix") format("eot"),url("../../fonts/geodin/26f280d7-8bd0-4192-90f1-3c3cb4cde341.woff2") format("woff2"),url("../../fonts/geodin/e1c997f3-fb27-4289-abc6-5ef059e51723.woff") format("woff"),url("../../fonts/geodin/0b3b140c-bdbe-488f-8976-992b4104de0c.ttf") format("truetype"),url("../../fonts/geodin/1fdd14a5-aaa2-4662-a7ae-ab0d4c3adb3c.svg#1fdd14a5-aaa2-4662-a7ae-ab0d4c3adb3c") format("svg");
font-weight: 400;
font-style: italic;
}
@font-face{
font-family:"DIN Next W01_n7";
src:url("../../fonts/geodin/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot")
}
@font-face{
font-family:"DIN Next W01";
src:url("../../fonts/geodin/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix");
src:url("../../fonts/geodin/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot"),url("../../fonts/geodin/44e7b0fa-6c8d-43c2-b19e-f1e3ce9ea57c.woff2") format("woff2"),url("../../fonts/geodin/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff") format("woff"),url("../../fonts/geodin/868c94b5-ca49-46b7-b62b-297f8d861125.ttf") format("truetype"),url("../../fonts/geodin/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
font-weight: 700;
font-style: normal;
}
@font-face{
font-family:"DIN Next W01_i7";
src:url("../../fonts/geodin/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix") format("eot")
}
@font-face{
font-family:"DIN Next W01";
src:url("../../fonts/geodin/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix");
src:url("../../fonts/geodin/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix") format("eot"),url("../../fonts/geodin/f37f8098-b16e-405f-ab24-bd595a5d5762.woff2") format("woff2"),url("../../fonts/geodin/c5635d60-91fa-4e4b-8a51-41c97fc744c3.woff") format("woff"),url("../../fonts/geodin/de34232f-b870-49c0-a6c0-24c25db73bc2.ttf") format("truetype"),url("../../fonts/geodin/35916fb2-3ed3-4d39-bec8-74155a53b1f0.svg#35916fb2-3ed3-4d39-bec8-74155a53b1f0") format("svg");
font-weight: 700;
font-style: italic;
}
@font-face{
font-family:"Geogrotesque W01_n5";
src:url("../../fonts/geodin/77c5adea-c45f-4bd6-bc83-c171aa401eac.eot?#iefix") format("eot")
}
@font-face{
font-family:"Geogrotesque W01";
src:url("../../fonts/geodin/77c5adea-c45f-4bd6-bc83-c171aa401eac.eot?#iefix");
src:url("../../fonts/geodin/77c5adea-c45f-4bd6-bc83-c171aa401eac.eot?#iefix") format("eot"),url("../../fonts/geodin/38914808-31f7-4169-a962-60b41b189056.woff2") format("woff2"),url("../../fonts/geodin/ae7eda9b-5729-4029-8ea8-1f4b2feb6595.woff") format("woff"),url("../../fonts/geodin/f5e7d965-e646-4ea9-8b21-bf17e3e5de42.ttf") format("truetype"),url("../../fonts/geodin/ae5b8a9c-af85-4ddf-a0a6-602405583707.svg#ae5b8a9c-af85-4ddf-a0a6-602405583707") format("svg");
font-weight: 500;
font-style: normal;
}



body {
  @include font-feature-settings("kern","liga","frac", "pnum");
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  font-weight: 500;
  color: $primaryColor;
  line-height: $header-line-height;
  margin: 0;
}

h1 {
  font-size: $h1-font-size;
  small { @include small-font($h1-font-size) }
}

h2 {
  font-size: $h2-font-size;
  small { @include small-font($h2-font-size) }
}

h2.section-title {
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section-title-link {
    font-size: .8em;
    font-weight: 500;
    text-align: center;
    //text-transform: uppercase;
    margin: -10px 0 10px 0;
	
}

h3 {
  font-size: $h3-font-size;
  small { @include small-font($h3-font-size) }
}

h4 {
  font-size: $h4-font-size;
  small { @include small-font($h4-font-size) }
}

p {
  margin: 0 0 ($base-spacing / 2);
}

.js-loading,.javascript-msg {
  text-align: center;
  padding: 20px;
}
