#leader {
  $medium: new-breakpoint(min-width 521px);
  $large: new-breakpoint(min-width 900px);
  $largest: new-breakpoint(min-width 1400px);
  
  @include outer-container(100%);

  border-bottom: 1px solid red;

  padding-top: 0;
  position: relative;
   
  
   
   .introduction {
	 @include outer-container(800px);
     position: relative;
	 h2 {
         border-bottom: 1px solid $white;
		 color: $white;
		 font-size: 3em;
		 position: absolute;
		 top: 1.5em;
		 left: .5em;
		 right: 0;
		 @include media($medium) {
			 font-size: 4em;
			 top: 2em;
			 left: 1em;
			 right: 0;
		 }

	 }
	 svg {
		 height : 10em;
		 @include media($medium) {
		 	height: 15em;
		 }
		 
	 }
   }
   
   .photo-of-matt {
     position: absolute;
	 top: 3em;
	 right: 2em;
	 height: 5em;
	 width: 5em;
	 @include media($medium) {
		 top: 2em;
		 right: 2em;
		 height: 10em;
		 width: 10em;
	 }
   }


   .content {
	 margin-top: -.5em;
     padding: 2em 1em 2em;
     border-bottom: 1px solid $accentColor;
	 @include media($medium) {
	     padding: 3em 4em 4em;
	 }
   }

   .content-internal {
     background: $white;
     margin: 0;
     padding: 20px;
     border-bottom: 1px solid $accentColor;
   }
      
   .contact {
     background: $accentColor;
     margin: 0;
     padding: 5px 0 0 0;
     text-align: center;
     p {
       margin: 0;
       padding: 0;
     }
     a {
       color: $primaryColor;
       padding: 6px 10px 0 10px;
       font-size: 1.3em;
       
       &:hover {
         color: $text;
       }
       @include media($large) {
         font-size: 1em;
         padding: 6px 15px 0 15px;
        }
     }
   }
   

   
}